* {
  margin: 0px;
  padding: 0px;
}
.label {
  font-size: 13px;
}

.header-container {
  position: relative;
  font-size: 20px;
  margin-top: 0.5rem;
}
.header-title {
  font-family: sans-serif;
  text-align: center;
}
.fa-bars {
  position: absolute;
}
.fa-cart-shopping {
  position: absolute;
  left: 100%;
  transform: translateX(-100%) translateY(-100%);
}
.checkout-container {
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}
.check-out-title {
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.container-main {
  padding: 2rem;
}
.check-out-content {
  color: grey;
  font-size: 13px;
  font-weight: 500;
}
.container {
  margin-top: 1rem;
}
.account-info,
.shipping-address,
.billng-address,
.payment-info,
.order-summary {
  font-size: 13px;
  font-weight: 550;
}
.input-conatiner {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 0.8rem;
  .input {
    width: 100%;
    border: none;

    border-bottom: 1px solid lightgray;
    font-size: 1.2rem;
    outline: 0px;
    background-color: #fff;
  }
  .info-label {
    position: absolute;
    top: 2rem;
    left: 0;
    color: gray;
    transition: all 0.3s ease;
  }
}
.shipping-address {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}
.billng-address {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}
.address {
  margin-top: -0.5rem;
}
.address-state {
  margin-top: -1rem;
  display: flex;
  gap: 1rem;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 2px solid red;
}
.input-conatiner input:focus ~ .info-label,
.input-conatiner input:valid ~ .info-label,
.input-conatiner input:not(:placeholder-shown) ~ .info-label
 {
  transform: translateY(-20px);
  font-size: 10px;
  color: black;
}
.check-box {
  font-size: 13px;
  padding-left: 1rem;
  padding-top: 1rem;
}
.underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2%;
  background: #354463;
  transform: scaleX(0);
}
.input-conatiner input:focus ~ .underline:before,
.input-conatiner input:valid ~ .underline:before {
  transform: scaleX(1);
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}
.select {
  border: none;
}
.country-container {
  margin-top: -1rem;
}
.country-text {
  margin-bottom: 0.5rem;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 500;
}

.check-box-container {
  display: none;
}

.check-box:checked ~ .check-box-container {
  display: block;
}
.payment-info {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.card {
  margin-top: 0.2rem;
}
.select-input {
  padding: 0.6rem;
  font-weight: 300;
  font-size: 13px;
}

.date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: end;
  margin-top: -4rem;
}
.expairy {
  margin-top: 3rem;
  font-size: 12px;
}

.date-container {
  margin-top: -6rem;
}
.cvv {
  padding-bottom: 0rem;
}

.order-Summary-conatiner {
  display: flex;
  justify-content: space-between;
 
}
p {
  font-weight: 500;
  font-size: 13px;
}
.total {
  margin-top: 2.5rem;
}
.summary {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.order-summary {
  margin-top: -1rem;
  margin-bottom: 0.9rem;
}

.place-btn {
  margin: 0;
  width: 100%;
  margin-top: 3rem;
  padding: 1.4rem;
  font-family: sans-serif;
  font-weight: 550;
  font-size: 12px;
  color: #fff;
  font-size: 1rem;
  background-color: #142852;
}
@media (min-width: 1025px) {
  .fa-bars {
    display: none;
  }
  .check-out-title {
    font-size: 18px;
  }
  .checkout-container {
    margin-top: 100px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    max-width: 1500px;
    margin: auto;
  }

  .payment-info {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .card {
    margin-top: 0rem;
  }

  .place-btn {
    width: 25%;
    margin-top: -30rem;
    padding: 0.5rem;
    margin-left: 1.7rem;
    font-family: sans-serif;
    font-weight: 200;
    color: black;
    font-size: 1rem;
    background-color: #fff;
  }
  .fa-cart-shopping {
    padding-right: 2rem;

  }
}
